@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

.mobile-scale {
  transform: scale(2);
}

.mobile-tab-font {
  font-size: 10vw;
}

@media (min-width: 768px) {
  .mobile-scale {
    transform: scale(1);
  }
  
  .mobile-tab-font {
    font-size: 3vw;
  }
}
